Source: ros-humble-leo-gz-plugins
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), libgz-plugin-dev, libgz-sim6-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-copyright <!nocheck>, ros-humble-ament-cmake-cpplint <!nocheck>, ros-humble-ament-cmake-lint-cmake <!nocheck>, ros-humble-ament-cmake-uncrustify <!nocheck>, ros-humble-ament-cmake-xmllint <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-leo-gz-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgz-plugin-dev, libgz-sim6-dev, ros-humble-ros-workspace
Description: Plugins for Leo Rover Gazebo simulation in ROS 2
